

<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let post of allPosts">
      <div class="card h-100">
        <img src={{post.image_url}} class="card-img-top" alt="Image 1">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text description">{{ post.description }}</p>          <p class="card-text"><strong>Categoría:</strong> {{post.category}}</p>
          <p class="card-text"><strong>Publicado el:</strong> {{post.createdAt}}</p>
          <p class="card-text"><strong>Autor:</strong> {{post.author}}</p>
          <a class="btn btn-primary mt-auto" (click)="goToDetailView(post._id)">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>
