articleCard
<div class="col-md-4 mb-4">
  <div class="card">
    <img
      src="./assets/MOTO_CASCO_DE_ENDURO_1024x1024.webp"
      class="card-img-top"
      alt="Image 1"
    />
    <div class="card-body">
      <h5 class="card-title">CONSEJOS PARA ANDAR EN MOTO EN FORMA SEGURA</h5>
      <p class="card-text">
        Movilizarte sobre dos ruedas es una de las formas más prácticas para
        ayudarte a salir del tráfico vehicular en la ciudad.
      </p>
      <a href="./pages/blog.html" class="btn btn-primary mt-auto">Ver más</a>
    </div>
  </div>
</div>
