<footer>
    <div class="footer-content">
        <div id="contacto" class="contact-info">
            <h4>Contacto</h4>
           
            <p>Teléfono: (57) 456-7890</p>
        </div>
        
        <div class="links">
            <h4>Enlaces importantes</h4>
            <ul>
                <li><a href="../pages/aboutUs.html">Sobre nosotros</a></li>
                <li><a href="#">Rodadas</a></li>
                <li><a href="#contacto">Contacto</a></li>
                <li><a routerLink="login">Iniciar sesion</a></li>
            </ul>
        </div>
        
        <!-- <div class="noticias">
            <h4>Suscríbete al boletín</h4>
            <form action="/suscripcion" method="post">
                <input type="email" placeholder="Tu correo electrónico" required>
                <button type="submit">Suscribirse</button>
            </form>
        </div> -->
    </div>

    <div class="footer-bottom">
        <p>&copy; 2024 BIKERLOG. Todos los derechos reservados.</p>
        <div class="social-media">
            <a href="https://twitter.com" target="_blank">Twitter</a>
            <a href="https://facebook.com" target="_blank">Facebook</a>
            <a href="https://instagram.com" target="_blank">Instagram</a>
        </div>
    </div>
</footer>


