<header>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">BIKERLOG</a> -->
          <a class="navbar-brand" href="#">
              <div class="container-logo">
                <p>Iron Horse</p>
              </div>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Emprende una nueva aventura</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink='/'>Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink='/blog-page'>Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="login">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="sobre-nosotros">Sobre nosotros</a>
              </li>
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li> -->
              </ul>
              <!-- <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
              </form> -->
            </div>
          </div>
        </div>
      </nav>
      <section class="banner-section">
          <h1>Iron Horse</h1> 
          <p>El blog mas influyente de la comunidad hispanohablante</p>
          <a href="#cards-section">¡A RODAR!</a>
      </section>
</header>

<!-- <ol>
    <li><a >inicio</a></li>
    <li><a >iniciar sesion</a></li>
    <li><a routerLink="/registro">registrarse</a></li>
    <li><a routerLink="/admin">panel de administracion</a></li>
    <li><a >blog</a></li>
    </ol> 
  
   
    <button type="button" class="btn btn-success">Success</button>
<i class="bi bi-2-square"></i> -->
