<app-nav-bar></app-nav-bar>
<main>

    <!-- Section for Cards -->
    <section id="cards-section" class="py-6">
       <div class="container">
           <!-- Título H1 alineado a la izquierda -->
           <h1 class="text-start mb-2">
               <span class="word-1">Articulos</span> 
               <span class="word-2">recientes</span>
           </h1>
           <!-- Párrafo alineado a la izquierda -->
           <p class="text-start">Explora nuestras aventuras</p>
  
           <div class="row">
               <!-- Card 1 -->
               <div class="col-md-4 mb-4">
                   <div class="card">
                       <img src="./assets/MOTO_CASCO_DE_ENDURO_1024x1024.webp" class="card-img-top" alt="Image 1">
                       <div class="card-body">
                           <h5 class="card-title">CONSEJOS PARA ANDAR EN MOTO EN FORMA SEGURA</h5>
                           <p class="card-text">Movilizarte sobre dos ruedas es una de las formas más prácticas para ayudarte a salir del tráfico vehicular en la ciudad.</p>
                           <a href="./pages/blog.html" class="btn btn-primary mt-auto">Ver más</a>
                       </div>
                   </div>
               </div>
               <!-- Card 2 -->
               <div class="col-md-4 mb-4">
                   <div class="card">
                       <img src="./assets/rankin-club-motero.mejor-espana.webp" class="card-img-top" alt="Image 2">
                       <div class="card-body">
                           <h5 class="card-title">El Ranking de los clubs moteros más relevantes de España</h5>
                           <p class="card-text">El Club Turismoto, fundado en 1981, se lleva el honor de ocupar la primera posición en nuestro ranking. Inicialmente.</p>
                           <a href="./pages/blog.html" class="btn btn-primary mt-auto">Ver más</a>
                       </div>
                   </div>
               </div>
               <!-- Card 3 -->
               <div class="col-md-4 mb-4">
                   <div class="card">
                       <img src="./assets/Motos-eléctricas-Los-grandes-cambios-en-la-mecánica-de-motos.jpg" class="card-img-top" alt="Image 3">
                       <div class="card-body">
                           <h5 class="card-title">Motos Eletricas</h5>
                           <p class="card-text">Las motos eléctricas ya son una realidad y más que lo serán en el futuro. Algunos modelos pueden alcanzar los 220 km/h.</p>
                           <a href="./pages/blog.html" class="btn btn-primary mt-auto">Ver más</a>
                       </div>
                   </div>
               </div>
               <!-- Card 4 -->
               <div class="col-md-4 mb-4">
                   <div class="card">
                       <img src="./assets/BANNER-ROYAL-ENFIELD-GUERRILLA-450.webp" class="card-img-top" alt="Image 4">
                       <div class="card-body">
                           <h5 class="card-title">Guerrilla 450</h5>
                           <p class="card-text">Royal Enfield se ha destacado siempre por sus motocicletas de aventura, pero esta vez nos sorprendió a todos con el lanzamiento de la nueva GRR 450.</p>
                           <a href="./pages/blog.html" class="btn btn-primary mt-auto">Ver más</a>
                       </div>
                   </div>
               </div>
               <!-- Card 5 -->
               <div class="col-md-4 mb-4">
                   <div class="card">
                       <img src="./assets/Harley-Davidson Nightster.avif" class="card-img-top" alt="Image 5">
                       <div class="card-body">
                           <h5 class="card-title">Harley-Davidson Street® 500</h5>
                           <p class="card-text"> Conquista la jungla urbana con 500 cc de estilo Harley-Davidson® dark custom™ blacked-out de fácil maniobrabilidad.</p>
                           <a href="./pages/blog.html" class="btn btn-primary mt-auto">Ver más</a>
                       </div>
                   </div>
               </div>
               <!-- Card 6 -->
               <div class="col-md-4 mb-4">
                   <div class="card">
                       <img src="./assets/Bikerlog-image-main.png" class="card-img-top" alt="Image 6">
                       <div class="card-body">
                           <h5 class="card-title">Yamaha R6</h5>
                           <p class="card-text">La Yamaha YZF-R6 es una moto deportiva de Yamaha Motor Company 600, creada por primera vez en 1998,</p>
                           <a href="./pages/blog.html" class="btn btn-primary mt-auto">Ver más</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
   <section class="rodadas-container">
       <h2 class="eventos">Próximos eventos y rodadas</h2>
       <section class="cards-section">

           <article class="rodada-card-container">
               <img src="./assets/Imagen-marcas-triumph-home-grupo-uma-v3.jpg" alt="">
               <div class="text-container">
                   <p class="card-title">Andes en Moto: Una Aventura Sobre Dos Ruedas</p>
                   <p class="card-paragraph">Embárcate en un viaje épico por la Cordillera de los Andes colombianos. Desde los páramos nevados hasta los cálidos valles, nuestras rutas te llevarán a través de paisajes impresionantes, pueblos pintorescos y carreteras sinuosas que pondrán a prueba tus habilidades como motociclista. 
                   </p>
                   <a href="https://www.youtube.com/watch?v=hFJ250jgQwM" target="_blank">Ver Rodada</a>
               </div>
           </article>

           <article class="rodada-card-container">
               <img src="./assets/blog.png" alt="">
               <div class="text-container">
                   <p class="card-title">Costa Caribe: Sol, Playa y Rodadas Ilimitadas</p>
                   <p class="card-paragraph">Descubre las joyas ocultas de la costa caribeña colombiana. Rodaremos por carreteras costeras, exploraremos pueblos pesqueros, y nos sumergiremos en la cultura caribeña. ¡Prepárate para disfrutar de playas paradisiacas, aguas cristalinas y una brisa marina refrescante!
                   </p>
                   <a href="https://www.youtube.com/watch?v=hFJ250jgQwM" target="_blank" y>Ver Rodada</a>
               </div>
           </article>

           <article class="rodada-card-container">
               <img src="./assets/Los-grandes-cambios-en-la-mecánica-de-motos.jpg" alt="">
               <div class="text-container">
                   <p class="card-title">Amazonía Colombiana: Una Aventura Salvaje</p>
                   <p class="card-paragraph">Adéntrate en la selva amazónica y vive una experiencia única en moto. Atravesaremos ríos caudalosos, exploraremos senderos en la jungla y nos conectaremos con la naturaleza en su estado más puro. ¡Una aventura inolvidable para los amantes de la adrenalina y la vida salvaje! 
                   </p>
                   <a href="https://www.youtube.com/watch?v=hFJ250jgQwM" target="_blank" y>Ver Rodada</a>
               </div>
           </article>

           <article class="rodada-card-container">
               <img src="./assets/MOTO_CASCO_DE_ENDURO_1024x1024.webp" alt="">
               <div class="text-container">
                   <p class="card-title">Cañones del Chicamocha: Un Viaje al Corazón de Colombia</p>
                   <p class="card-paragraph">Desciende por los impresionantes cañones del Chicamocha, uno de los más grandes del mundo. Disfruta de vistas panorámicas, recorre carreteras sinuosas y visita pueblos tradicionales. ¡Una aventura que te dejará sin aliento! 
                   </p>
                   <a href="https://www.youtube.com/watch?v=hFJ250jgQwM" target="_blank" y>Ver Rodada</a>
               </div>
           </article>

       </section>
   </section>
</main>
<!-- <app-article-card></app-article-card> -->
<!-- este es el footer -->
<app-footer></app-footer> 