/* Estilos para las palabras individuales en el título */
.word-1 {
    color: #333333; /* Cambia el color de 'Articulos' a azul */
    font-family: "Bebas Neue";
}


.word-2 {
    color: #0072F0; /* Cambia el color de 'recientes' a rojo */
    font-family: "Bebas Neue";
}


.card-title {
    font-family: "Bebas Neue";
    font-size: 24px;
    font-weight: 400;
}

/* Rodadas container */
.rodadas-container {
    margin-top: 80px;
    padding: 40px;
    background-color: #f8f9fa;
    text-align: center;
}

.rodadas-container h2.eventos {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: var(--secondo-color);
    font-family: var(--font-text);
}

/* Cards sección */
.cards-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
}

/* Tarjetas individuales */
.rodada-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.rodada-card-container img {
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    padding: 15px;
    text-align: left;
    width: 60%;
}

.text-container .card-title {
    font-size: 1.5rem;
    /* font-weight: bold; */
    margin-bottom: 10px;
}

.text-container .card-paragraph {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #333;
    line-height: 1.5;
}

.text-container button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.text-container button:hover {
    background-color: #0056b3;
}

/* Responsividad para dispositivos pequeños */
@media (max-width: 390px) {
    /* Ajustes específicos para pantallas pequeñas */
    .rodada-card-container {
        margin: 10px 0; /* Añadir margen entre tarjetas */
    }

    .rodadas-container h2.eventos {
        font-size: 2rem; /* Ajustar tamaño del título */
    }

    .text-container .card-title {
        font-size: 1.2rem; /* Tamaño más pequeño del título */
    }

    .text-container .card-paragraph {
        font-size: 0.9rem; /* Tamaño más pequeño del párrafo */
    }
    .newsletter{
        display: none;
    }

    .text-container button {
        font-size: 0.9rem; /* Tamaño más pequeño del botón */
    }

}